---
layout: page
---

{{
<title>Martino Zanetti</title>

  <meta name="author" content="Martino Zanetti">
  
  <meta name="description" content="**University of Milan (UniMi)**
Facoltà di Scienze e Tecnologie
Dipartimento di Fisica - Aldo Pontremoli
Via Celoria 26 
Milano, Italy
[martino.zanetti@gmail.com](mailto:martino.zanettigmail.com)

I am a physicist at the University of Milan and I am currently studying Environmental Physics.

If you want to know more about me or read my **CV** see this [page](https://martinozanetti.github.io/aboutme).">
}}

  

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
